.title-cards {
    margin-top: 50px;
    margin-bottom: 30px;
}

.title-cards h2 {
    margin-bottom: 8px;
}

.card-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    cursor: grab;
}

.card-list.active {
    cursor: grabbing;
}

.card-list::-webkit-scrollbar {
    display: none;
}

.card-list img {
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

.card {
    flex: 0 0 auto;
    position: relative;
}

.more-cards{
    margin-left: 6%;
}

.card-list .card p{
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #fff;
}
